<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Emoji Ninja</string>
	<key>CFBundleExecutable</key>
	<string>Emoji Ninja</string>
	<key>CFBundleIconFile</key>
	<string>ninja</string>
	<key>CFBundleIdentifier</key>
	<string>com.mikkelam.emoji-ninja</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Emoji Ninja</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSUIElement</key>
	<true/>
	<key>SMAuthorizedClients</key>
	<array>
		<string>com.mikkelam.emoji-ninja</string>
	</array>
	<key>NSAppleEventsUsageDescription</key>
	<string>Emoji Ninja needs permission to send emojis to other applications.</string>
</dict>
</plist>
